.main {
    
    text-align: center;
    border: inset black 3px;
    margin: 10% 30%;
    max-width: 600px;
    min-width: 300px;
    
}
.article {
    background: deepskyblue;
    padding: 8% 0 4%;
}
.port {
   box-sizing: border-box;
   border: blueviolet 3px inset;
   border-radius: 50%;
   width: 26%;
   object-position: top;
   margin: -20%;
}
.info {
    background: white;
    
}
.but {
  padding: 1% 10%;  
}
.but1 {
    background: green;
    border: inherit;
    border-radius: 10%;
    margin: 10%;
    width: 30%;
}
.but2 {
    background: deepskyblue;
    border: inherit;
    border-radius: 10%;
    margin: 10%;
    width: 30%;
}
.text {

}